.start-button{
    display: block;
    width: 200px;
    height: 90px;
    position: absolute;
    top: 35%;
    left: 45%;
}

.main-frame{
    position: absolute;
    /* display: inline-block; */
    background: black;
    /* margin: 8px; */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-video-frame{
    position: absolute;
    /* object-fit: fill;
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    min-width: 90%;
    min-height: 90%; */
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    z-index: 3;
}

.gif-manager{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 15;
}

.temp-video{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}