
<div class="main-frame" >
  <div class="main-video-frame" >
    <video id="main-video"  autoplay="true" muted preload="auto">
      <!-- <source id="video-src" > -->
        <source [src]='ge.mainVideoObj.src' type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'>
        <source [src]='ge.mainVideoObj.src' type="video/ogg">
    </video>
    <!-- <iframe width="100%" height="100%" id="main-video" class="main-video" [src]='ge.getMainVideo()' frameborder="0" allowtransparency="true" allowfullscreen>

    </iframe> -->
  </div>
  <div class="gif-manager">
    <app-manager></app-manager>
  </div>
  <div class="temp-video" *ngIf="!ge.mainVideoObj.isActive"> 
    <app-secondary></app-secondary>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->