.start-button{
    display: block;
    width: 200px;
    height: 90px;
    position: absolute;
    top: 35%;
    left: 45%;
}

.main-frame{
    position: absolute;
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-video-frame{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* z-index: 3; */
}

.gif-manager{
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 15; */
}

.temp-video{
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 5; */
}